header#main-header {
    width: 100%;
    height: 80px;
    background: #E6282B;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.logotipo {
    height: 60px;
    margin: 10px;
}