header#main-header {
    width: 100%;
    height: 20%;
    background: #E6282B;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.logotipo {
    height: 80%;
    width: 15%;
    margin: 10px;
}